#save {
    margin-right: 10px;
}

#delete {
    margin-left: 10px;
}

.sidebar-col.col {
    padding: 0 !important;
}

.col-md-6 {
    padding-top: 25px;
    padding-left: 25px;
}

.sidebar {
    height: calc(100vh - 56px);

    overflow-y: scroll;
}
