<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2 sidebar-col">
            <nav id="sidebar" class="sidebar">
                <list-inventions
                    (edit)="selectedInvention = $event"
                    selectInventionAction="edit"
                    [inventions]="inventions">
                </list-inventions>
            </nav>
        </div>
        <div class="col col-md-6">
            <h1>Edit inventions</h1>
            <form class="mt-4" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">Invention's name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    [ngModel]="selectedInvention.name"
                    #inputname="ngModel"
                    [ngClass]="{'is-invalid': !inputname.valid && inputname.touched,
                                'is-valid': inputname.valid && inputname.touched}"
                    required />
                <div class="invalid-feedback">
                    Please type in the name of the invention.
                </div>
            </div>
            <div class="form-group">
                <label for="author">Invention's author:</label>
                <input
                    type="text"
                    class="form-control"
                    id="author"
                    name="author"
                    [ngModel]="selectedInvention.author"
                    #inputauthor="ngModel"
                    [ngClass]="{'is-invalid': !inputauthor.valid && inputauthor.touched,
                                'is-valid': inputauthor.valid && inputauthor.touched}"
                    required />
                <div class="invalid-feedback">
                    Please type in the author's name.
                </div>
            </div>
            <div class="form-group">
                <label for="year">Year of invention:</label>
                <input
                    type="number"
                    class="form-control"
                    id="year"
                    name="year"
                    [ngModel]="selectedInvention.year"
                    #inputyear="ngModel"
                    [ngClass]="{'is-invalid': !inputyear.valid && inputyear.touched,
                                'is-valid': inputyear.valid && inputyear.touched}"
                    pattern="([0-9]|[1-9][0-9]|[1-9][0-9][0-9]|1[0-9][0-9][0-9]|20[0-1][0-9])"
                    required />
                <div class="invalid-feedback">
                    Please type in the year of invention (from 0 to 2019).
                </div>
            </div>
            <div class="form-group">
                <label for="long">Longitude of the invention's location:</label>
                <input
                    type="text"
                    class="form-control"
                    id="long"
                    name="long"
                    [ngModel]="selectedInvention.longitude"
                    #inputlong="ngModel"
                    [ngClass]="{'is-invalid': !inputlong.valid && inputlong.touched,
                                'is-valid': inputlong.valid && inputlong.touched}"
                    pattern="(-?1[0-7][0-9][.][0-9]{1,6}|-?[1-9][0-9][.][0-9]{1,6}|-?[1-9][.][0-9]{1,6}|-?1[0-7][0-9]|-?[1-9][0-9]|-?[1-9]|-?0[.][0-9]{1,6}|-?180|-?180[.][0]{1,6})"
                    required />
                <div class="invalid-feedback">
                    Please type in the longitude of the place of the invention (from -180 to 180).
                </div>
            </div>
            <div class="form-group">
                <label for="lat">Latitude of the invention's location:</label>
                <input
                    type="text"
                    class="form-control"
                    id="lat"
                    name="lat"
                    [ngModel]="selectedInvention.latitude"
                    #inputlat="ngModel"
                    [ngClass]="{'is-invalid': !inputlat.valid && inputlat.touched,
                                'is-valid': inputlat.valid && inputlat.touched}"
                    pattern="(-?[1-8][0-9][.][0-9]{1,6}|-?[1-9][.][0-9]{1,6}|-?[1-8][0-9]|-?[1-9]|-?0[.][0-9]{1,6}|-?90|-?90[.][0]{1,6})"
                    required />
                <div class="invalid-feedback">
                    Please type in the latitude of the place of the invention (from -90 to 90).
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Optional commentary:</label>
                <input
                    type="text"
                    class="form-control"
                    id="comment"
                    name="comment"
                    [ngModel]="selectedInvention.comment" />
            </div>
            <div class="form-group">
                <label for="imageUrl">URL for an image:</label>
                <input
                    type="text"
                    class="form-control"
                    id="imageUrl"
                    name="imageUrl"
                    [ngModel]="selectedInvention.imageUrl"
                    #inputimage="ngModel"
                    [ngClass]="{'is-invalid': !inputimage.valid && inputimage.touched,
                                'is-valid': inputimage.valid && inputimage.touched}"
                    required />
                <div class="invalid-feedback">
                    Please paste in a URL path to an illustrational image for the invention.
                </div>
            </div>
            <button id="save" type="submit" class="btn btn-primary my-4" [disabled]="!f.valid">Save</button>
            <button (click)="onDelete()" id="delete" type="button" class="btn btn-danger" [disabled]="selectedInvention.id === 0">Delete</button>
            </form>
        </div>
    </div>
</div>
