<div class="inv-wrapper" (click)="onClick()" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    <p class="inv-name">{{ invention.name }}</p>
    <p class="inv-author">by {{ invention.author }}</p>
    <p class="inv-year">{{ invention.year }}</p>
    <p class="inv-comment" *ngIf="invention.comments !== ''">{{ invention.comments }}</p>
</div>
