.inv-wrapper {
    width: calc(100% - 4px);
    margin: 2px;
    padding: 10px;

    border: 1px solid #bcbdc0;
    border-radius: 2px;

    overflow: hidden;
}

.inv-wrapper:hover {
    opacity: 0.6;
    cursor: pointer;
}

.inv-wrapper:active {
    transform: translate(1px, 1px);
}

.inv-name {
    margin-bottom: 5px;
}

.inv-author, .inv-year, .inv-comment {
    margin: 0;

    color: lighten(#000, 40%);
    font-size: 80%;
}
