<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2">
            <nav id="sidebar" class="sidebar">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="century-filter">Show inventions of </label>
                    </div>
                    <select [(ngModel)]="selectedCentury" class="custom-select" id="century-filter">
                        <option selected [ngValue]="0">all times</option>
                        <option 
                            *ngFor="let century of centuries"
                            [ngValue]="century">
                        {{ century }}th century
                        </option>
                    </select>
                </div>
                <list-inventions
                    (fly)="onFly($event)"
                    (hover_on_marker)="hoverOnMarker = $event"
                    (hover_off_marker)="hoverOnMarker = emptyMarker"
                    selectInventionAction="fly"
                    [inventions]="markers | filter:selectedCentury ">
                </list-inventions>
            </nav>
        </div>
        <div class="col col-md-10">
            <mgl-map
                [style]="'mapbox://styles/snitko/cjwnq3v1f2wsl1cmnjez11dwt'"
                [zoom]="[6]"
                [center]="[12.50, 42.50]"
                (load)="map = $event">
                <mgl-marker *ngFor="let marker of markers | filter:selectedCentury "
                    [lngLat]="[marker.longitude, marker.latitude]">
                    <div class="marker-details" *ngIf="hoverOnMarker === marker">
                        <p class="marker-name">{{ marker.name }}</p>
                        <p class="marker-author">by {{ marker.author }}</p>
                        <p class="marker-year">{{ marker.year }}</p>
                        <p class="marker-comment" *ngIf="marker.comment; else commentStub">{{ marker.comment }}</p>
                        <ng-template #commentStub><p class="marker-comment-hidden">.</p></ng-template>
                    </div>
                    <div class="marker" [ngClass]="{'marker-highlighted': hoverOnMarker === marker}">
                        <img
                        (mouseover)="onMarkerHover(marker)"
                        (mouseleave)="onMarkerLeave()"
                        class="marker"
                        [src]="marker.imageUrl">
                    </div>
                </mgl-marker>
            </mgl-map>
        </div>
    </div>
</div>
