.col {
    padding: 0 !important;
}

.sidebar {
    height: calc(100vh - 56px);

    overflow-y: scroll;
}

mgl-map {
    height: calc(100vh - 56px);
    width: 100%;
}

mgl-marker {
    height: 100px;
    width: 100px;
}

div.marker {
    height: 50px;
    width: 50px;

    border: 1px solid rgba(188,189,192,1);
    border-radius: 100%;
    opacity: 0.6;

    overflow: hidden;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

div.marker:hover, .marker-highlighted {
    opacity: 1 !important;
    box-shadow: 1px 1px 0px 0px rgba(188,189,192,1);
}

.marker-details {
    position: relative;

    background: #fff;
    border: 4px solid #fff;
    box-shadow: 1px 1px 0px 0px rgba(188,189,192,1);
}

.marker-details:after, .marker-details:before {
    top: 100%;
    left: 21px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.marker-details:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 5px;
    margin-left: -5px;
}

.marker-details:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}

.marker-details {
    position: absolute;
    transform: translateY(-120px);

    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 1px 1px 0px 0px rgba(188,189,192,1);

    p {
        margin: 20px;
        white-space: nowrap;
    }

    .marker-comment-hidden {
        color: transparent;
    }
}
