<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/inventions'">Go to map <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" appDropdown>
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/inventions', 'add']">Add invention</a>
                    <a class="dropdown-item" [routerLink]="['/inventions', 'edit']">Edit inventions</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="'/sign-up'">Sign Up</a>
                    <a class="dropdown-item" [routerLink]="'/sign-in'">Sign In</a>
                    <a class="dropdown-item" (click)="onLogout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
