/* You can add global styles to this file, and also import other style files */

$base-font: 'Quicksand', sans-serif;

* {
    font-family: $base-font;
}

[appdropdown] {
    cursor: pointer;
}

[appdropdown].open .dropdown-menu {
    display: block;
}
