<div class="list-inventions-wrapper">
    <single-invention *ngFor="let invention of inventions"
                      (selectInvention)="onSelectInvention($event, selectInventionAction)"
                      (hoverOnInvention)="onHover($event)"
                      (hoverOffInvention)="onHover($event)"
                      [invention]="invention">
    </single-invention>
</div>
