<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2">
            <h1>Sign In</h1>
            <form class="mt-4" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="username">Your username:</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter your username"
                    name="username"
                    [ngModel]="''"
                    #inputname="ngModel"
                    [ngClass]="{'is-invalid': !inputname.valid && inputname.touched,
                                'is-valid': inputname.valid && inputname.touched}"
                    pattern="^[a-zA-Z][a-zA-Z0-9]*"
                    required />
                <div class="invalid-feedback">
                    Please type in a valid username (must start with a letter and consist of only letters and/or numbers).
                </div>
            </div>
            <div class="form-group">
                <label for="password">Your password:</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter your password"
                    name="password"
                    [ngModel]="''"
                    #inputpass="ngModel"
                    [ngClass]="{'is-invalid': !inputpass.valid && inputpass.touched,
                                'is-valid': inputpass.valid && inputpass.touched}"
                    required />
                <div class="invalid-feedback">
                    Please type in a password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-4" [disabled]="!f.valid">Login</button>
            </form>
        </div>
    </div>
</div>
